@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans:300&display=swap");
.App {
  text-align: left;
  background-color: rgb(226, 252, 255);
  color: rgba(58, 58, 58, 0.671);
}
#siteBody{
  text-align: center;
}
#mainTitle {
  font-family: "Amatic SC", cursive;
  font-size: 65px;
  text-align: center;
  
  color: rgba(58, 58, 58, 0.671);
}
#subTitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img{
  width:125px;
}